<p style="color: green"><%= notice %></p>

<%= render @doc %>

<div>
  <%= link_to "Edit this doc", edit_doc_path(@doc) %> |
  <%= link_to "Back to docs", docs_path %>

  <%= button_to "Destroy this doc", @doc, method: :delete %>
</div>
